html,body{
    margin: 0 auto;
    padding: 0;
    width: 90%;
}
header{
    background-color: rgb(0, 136, 255);
    height: 130px;
    background-image:url(img/pattern.png);
    background-position:top left;
    background-repeat: repeat;
    background-size: 500px;
}
.logo{
    margin-top: 60px;
    margin-left: 10px;
    height: 50px;
}
main{
    padding-left: 10px;
}
h1{
    padding: 0%;
    margin: 0;
}
.sotto-t{
    color: gray;
}
h4{
    padding: 0;
    margin: 0;
}
h4>strong{
    color: rgb(0, 157, 255);
}
table {
    border-collapse: collapse;
    width: 100%;
  }
tr:nth-child(odd){
    background-color:rgba(4, 132, 251, 0.368);

}
th, td {
    text-align: left;
    padding-right: 150px;
  }
th{
    background-color: rgb(0, 140, 255);
    color: white;
}
.raccomanded{
    position: relative;

}
.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: large;
}