body{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    background-color: rgb(0, 136, 255);
    height: 130px;
    background-image:url(img/pattern.png);
    background-position:top left;
    background-repeat: repeat;
    background-size: 500px;
}
.logo{
    margin-top: 60px;
    margin-left: 10px;
    height: 50px;
}
main{
    padding-left: 10px;
}
h1{
    padding: 0%;
    margin: 0;
}
.sotto-t{
    color: gray;
}
h4{
    padding: 0;
    margin: 0;
}
h4>strong{
    color: rgb(0, 157, 255);
}